<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="GitLab Pages">
    <title>Plain HTML site using GitLab Pages</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar">
      <a href="http://www.fallingfalling.com/">Falling</a>
      <a href="http://www.staggeringbeauty.com/">Shake it</a>
      <a href="http://iamawesome.com/">Yes</a>
    </div>

    <h1>Hello visitor.</h1>

    <p>
      Welcome to this corner of the web. (Updated)
    </p>

    <h2>Terminal mastery.</h2>
    <p>
        Try that:
        <ol>
          <li>display hello world: <code> echo "Hello World" </code></li>
          <li>play with variables: <code> hello="Hello World" && echo $hello </code></li>
          <li>Navigate to home: <code> cd; cd $HOME; cd ~/ </code></li>
          <li>Create a workdir: <code> mkdir workdir </code></li>
          <li>go inside it: <code> cd workdir</code></li>
          <li>create alias to go to workdir: <code> export WORKDIR='$HOME/workdir' && alias cdw='cd $WORKDIR'</code></li>
          <li>create empty file: <code> touch that </code></li>
          <li>put hello in file: <code> echo $hello > that </code></li>
          <li>display content of file: <code> cat that; more that; less that; head that; tail that </code></li>
          <li>add other lines to the file: <code> echo $hello >> that </code></li>
          <li>overwrite content of file: <code> echo $hello > that </code></li>
          <li>remove file: <code> rm that </code></li>
          <li>create folder tmp: <code> mkdir tmp </code></li>
          <li>create several file inside folder: <code> touch one && touch two && touch three</code></li>
          <li>Copy file/ copy folder: <code> cp one four; cp -r tmp tmp2 </code></li>
          <li>Zip / Tar this folder and untar/unzip it: <code> tar -czvf ; tar -xzvf </code></li>
          <li>remove all files with a letter o into them: <code> rm *o* </code></li>
          <li>remove folder tmp: <code> rm -rf tmp </code></li>

          <li>go to home</li>
          <li>show hidden files: <code> ls -a </code></li>
          <li>create ssh key: <code> ssh-keygen -t rsa </code></li>
          <li>download a file from url: <code> wget https://dslv9ilpbe7p1.cloudfront.net/AikQYCLb72WaP1X8gUyOcw_store_header_image </code></li>
          <li>Install fortune: <code> brew install fortune </code></li>
          <li>Read the doc: <code> man fortune </code></li>
          <li>put fortune in file: <code> fortune >> that </code></li>
          <li>Play with loops: <code> while true; do fortune; sleep 2; done</code></li>
          <li>Put that command in a bash script: <code> while true; do fortune; sleep 2; done</code></li>
          <li>change permissions on this script: <code> chmod </code></li>
          <li>execute script/stop it</li>
          <li>execute script/kill it from another terminal: <code> ps -ef; kill </code></li>
          <li>execute in screen/recover and kill</li>
        </ol>

        <a href="http://images.linoxide.com/linux-cheat-sheet.pdf">Cheat Sheet</a>
    </p>


    <h2>Git mastery.</h2>
    <p>
        Try that:
        <ol>
          <li>Configure Git</li>
          <li>Create empty folder, git init</li>
          <li>Create Readme.md, git commit</li>
          <li>Create dev branch, go to it, do several commits</li>
          <li>Go back to master, merge dev</li>
          <li>Go to dev, commit one thing</li>
          <li>Create feature_1 from dev, commit two things</li>
          <li>Create feature_2 from dev, commit two things</li>
          <li>Go to dev, merge feature_1, merge feature_2, resolve conf</li>
          <li>Merge to master</li>
          <li>Create a hotfix on master</li>
          <li>Replicate hotfix on dev with cherry pick</li>
          <li>Try git blame</li>
          <li>Try Git stash</li>
          <li>Git checkout to older commit, create branch from it</li>
        </ol>

        Read this article:
        <a href="https://nvie.com/posts/a-successful-git-branching-model/">Source</a>
    </p>

    <h2>Gitlab mastery</h2>
    <p>
        Replicate
        <a href="https://gitlab.com/bfarcy/tuto_gitlab">This</a>

        Minimum 2, up to 4 ppl:
        <ol>
          <li>Someone create a gitlab project and give access</li>
          <li>Someone create Readme</li>
          <li>Someone create Folder structure</li>
          <li>Someone create test ci/cd (replicate from project)</li>
          <li>Someone create html</li>
          <li>Someone create css</li>
        </ol>
    </p>

  </body>
</html>
